#
#  ipsec secrets for <%= @title %> - strongSwan IPsec configuration file.
#

# This file is managed by Puppet.

# Secrets for <%= @title %>.
 <% @secrets.each do |option, setting| -%>
 <%= @title -%> : <%= option -%> <%= setting -%>
 <% end %>
#
